---
import reactify from "../../utils/reactify";

// Use either `defaultOption` or `placeHolder`
//
// defaultOption: option name String just like the ones in `options`
// placeHolder: if you don't want a default option, 
//              but just something that shows on the button before any option is selected
// label: a label above the button, as a hint to what the dropdown is for

var { options, onOptionSwitch, defaultOption, label, placeHolder, disabled, ...rest } =
  Astro.props;

const x_data = `{
  defaultOption: "${defaultOption}",
  ${reactify(options, "options")},
  ${reactify(onOptionSwitch, "onOptionSwitch")},
  selectedOption: "${placeHolder ? placeHolder : defaultOption}",
  isOpen: false, 
  openedWithKeyboard: false
}`;
---

<div
  x-data={x_data}
  x-init=`label = "${defaultOption}"`
  class="relative w-full"
  x-on:keydown.esc.window="isOpen = false, openedWithKeyboard = false"
  {...rest}
>
  {
    label ? (
      <label class="w-fit pl-0.5 pt-0.5 text-sm text-gray-400">{label}</label>
    ) : (
      <div class="h-5" />
    )
  }

  <!-- Toggle Button -->
  <button
    type="button"
    x-on:click="isOpen = ! isOpen;"
    disabled={disabled}
    class="group bg-transparent
            rounded-lg
            w-full
            border-2 border-primary
            px-4 py-2
            block
            text-sm font-medium
            text-primary
            text-left
            truncate
            tracking-wide
            transition
            cursor-pointer
            hover:opacity-75
            focus-visible:outline-2
            focus-visible:outline-offset-2
            focus-visible:outline-primary
            
            active:opacity-100
            active:outline-offset-0

            disabled:opacity-50
            disabled:cursor-not-allowed
            
            dark:border-low-contrast-grey
            dark:text-primary-dark
            dark:focus-visible:outline-primary-dark"
    aria-haspopup="true"
    x-on:keydown.space.prevent="openedWithKeyboard = true"
    x-on:keydown.enter.prevent="openedWithKeyboard = true"
    x-on:keydown.down.prevent="openedWithKeyboard = true"
    x-bind:class="isOpen || openedWithKeyboard ? 'text-on-surface-strong dark:text-on-surface-dark-strong' : 'text-on-surface dark:text-on-surface-dark'"
    x-bind:aria-expanded="isOpen || openedWithKeyboard"
  >
    <div class="flex items-center justify-between gap-2">
      <span x-text="selectedOption"></span>

      <svg
        aria-hidden="true"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="size-4 rotate-0 justify-self-end"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
      </svg>
    </div>
  </button>

  <!-- Dropdown Menu -->
  <div
    x-cloak
    x-show="isOpen || openedWithKeyboard"
    x-transition
    x-trap="openedWithKeyboard"
    x-on:click.outside="isOpen = false, openedWithKeyboard = false"
    x-on:keydown.down.prevent="$focus.wrap().next()"
    x-on:keydown.up.prevent="$focus.wrap().previous()"
    class="absolute
            flex w-full flex-col
            overflow-hidden rounded-radius
            border border-outline
            bg-bg-black
            py-1
            z-10
            dark:border-low-contrast-grey
            dark:bg-surface-dark-alt
            rounded-lg"
    role="menu"
  >
    <!-- default option stays fixed at the top of the list -->
    {
      defaultOption ? (
        <div
        class="bg-surface-alt
                px-4 py-2
                text-sm
                select-none
                hover:opacity-75
                cursor-pointer"
        role="menuitem"
        x-text="defaultOption"
        @click=`onOptionSwitch(defaultOption); selectedOption=defaultOption; isOpen = false; openedWithKeyboard = false`
        tabindex="0"
      >
      </div>
      ) : (
        ""
      )
    }
    
    <template x-for="option in options">
      <div
        class="bg-surface-alt
              px-4 py-2
              text-sm
              select-none
              hover:opacity-75
              cursor-pointer"
        role="menuitem"
        x-text="option"
        @click="onOptionSwitch(option); selectedOption=option; isOpen = false; openedWithKeyboard = false"
        tabindex="0"
      >
      </div>
    </template>
  </div>
</div>
