---
var { label, placeholder, name, value, type = "text", ...rest } = Astro.props;
---

<div
  class="flex
        w-full
        flex-col
        gap-1
        text-on-surface
        dark:text-on-surface-dark"
>
  <label class="w-fit pl-0.5 text-sm text-gray-400">{label}</label>
  <input
    id="textInputDefault"
    type={type}
    class="w-full
        rounded-radius
        rounded-lg
        outline-2
        px-2 py-2
        text-sm
        dark:outline-low-contrast-grey
        dark:focus-visible:outline-3
        dark:focus-visible:outline-low-contrast-grey-2
        disabled:cursor-not-allowed disabled:opacity-75"
    name={name}
    placeholder={placeholder}
    x-bind:value={value}
    {...rest}
  />
</div>
